# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mailpulse
DB_USER=root
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Gmail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mailpulse.service@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=MailPulse 